$css-transition-style: (
  custom: 'css-transition-style-custom',
  fade: 'css-transition-style-fade',
  slide-down: 'css-transition-style-slide-down',
  slide-up: 'css-transition-style-slide-up',
);
