$style: get($css-transition-style, 'slide-up');
$appear: get($css-transition, 'appear.default');
$appear-active: get($css-transition, 'appear.active');
$enter: get($css-transition, 'enter.default');
$enter-active: get($css-transition, 'enter.active');
$exit: get($css-transition, 'exit.default');
$exit-active: get($css-transition, 'exit.active');
$exit-done: get($css-transition, 'exit.done');

.#{$style} {
  transition-property: transform;
  will-change: transform;

  &.#{$appear}:not(.#{$appear-active}),
  &.#{$enter}:not(.#{$enter-active}),
  &.#{$exit}.#{$exit-active},
  &.#{$exit}.#{$exit-done} {
    transform: translate3d(0, 100%, 0);
  }
}
