$css-transition: (
  default: 'css-transition',
  appear: (
    default: 'css-transition-appear',
    active: 'css-transition-appear-active',
    done: 'css-transition-appear-done',
  ),
  enter: (
    default: 'css-transition-enter',
    active: 'css-transition-enter-active',
    done: 'css-transition-enter-done',
  ),
  exit: (
    default: 'css-transition-exit',
    active: 'css-transition-exit-active',
    done: 'css-transition-exit-done',
  )
);
