<html lang='en'>
<head>
  <title>Welcome to Ki.CL</title>

  <meta charset='UTF-8' />
  <meta
    content='A independent design agency specialize in creative consulting, branding and web development'
    name='description'
  />
  <meta
    content='Keni,Lam,kicl,KiCL,Ki.CL,Design,Design,Developer,Creative'
    name='keywords'
  />
  <meta content='Keni, Lam' name='author' />

  <meta content='IE=Edge' http-equiv='X-UA-Compatible' />

  <meta
    content='user-scalable=no,width=device-width,initial-scale=1,maximum-scale=1'
    name='viewport'
  />
  <meta content='!' name='fragment' />

  <meta content='http://www.ki-cl.com' property='og:url' />
  <meta content='website' property='og:type' />
  <meta content='Ki.CL' property='og:title' />
  <meta
    content='A independent design agency specialize in creative consulting, branding and web development'
    property='og:description'
  />
  <meta
    content='http://ki-cl.com/asset/image/site.hero.png'
    property='og:image'
  />

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src='https://www.googletagmanager.com/gtag/js?id=UA-41733388-1'></script>
  <script>
    window.dataLayer = window.dataLayer || []

    function gtag () {dataLayer.push(arguments)}

    gtag('js', new Date())

    gtag('config', 'UA-41733388-1')
  </script>
</head>

<body>
<div app-root></div>
<script src='https://use.typekit.net/cpi1lno.js'></script>
<script>
  try {
    Typekit.load({
      async: true
    })
  } catch (e) {
    throw new Error(e)
  }
</script>
</body>
</html>
